html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-image: url('../../Images/homepage-image.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100vw;
  max-height: 65vw;
}

/* Slogan container */

.text-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#slogan {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
}

#book-now-button {
  position: relative;
}

.svg-btn {
  width: 11.5vw;
  height: 4vw;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  outline: none;
  transition: 1s ease-in-out;
  font-size: 1.5vw;
  padding: 0;
}

.svg-btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.svg-btn:hover {
  transition: 1s ease-in-out;
  background: #bde0fe;
}

.svg-btn:hover svg {
  stroke-dashoffset: -480;
}

/* must have section */

.must-have-container {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 3%;
}

.must-have-image {
  max-height: 18vw; 
}

.must-have-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.must-have-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: 1.5vw;
}

.must-have-text-title {
  font-size: 2vw;
}

.section-1, .section-2, .section-3 {
  display: flex;
}

.must-have-button-container {
  display: flex;
  justify-content: center;
  margin: 5%
}
/* quote container */

.quote-container {
  height: 60vh;
  background: #e9ecef;
  font-weight: 900;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

/* image raw beauty section */
.gallery-container {
  width: 80%;
  padding: 3%;
}

.gallery-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container img {
  margin: 5%;
  transition: all .2s ease-in-out;
}

.gallery-container img:hover {
  transform: scale(1.1);
}

/* media */
@media (max-width: 1024px) {
  .quote-container {
    height: 30vh;
  }
}

@media (max-width: 540px) {
  
}