/* Navigation bar */
#wrapper {
  width: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#logo-container {
  margin: 20px;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  width: 100%;
  display: flex;
}

#navbar-list-section {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#navbar-logo {
  width: 15%;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  font-size: 1.5rem;
  margin-left: 10px;
  letter-spacing: 4px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.nav-link:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 990px) {
  #logo-container {
    margin: 10px;
  }

  .container-fluid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-toggler {
    padding: 0 5px 3px 5px;
  }

  .navbar-toggler-icon {
    font-size: 3vw;
  }

  #navbar-list-section {
    border-top: 0;
    border-bottom: 0;
    z-index: 100;
  }
  
  .navbar-nav {
    position: absolute;
    right: 0;
    width: 30%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .nav-item {
    text-align: right;
    margin-right: 10px;
    font-size: 3vw;
  }

  #logo-container, #logo a {
    display: flex;
    justify-content: space-between;
  }
}