.opener {
  background-image: url('../../Images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30%;
  opacity: 0.8;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .opener {
    background-size: cover;
  }
}